body {
    background-color: #fff
    color rgba(0, 0, 0, 0.8);
}

.logo {
    color: #000000
}

.list {
    list-style: none;
}

/* цвет основного текста №000000 */
/* вторичный цвет текста rgba(0, 0, 0, 0.8); 
*/
/* цвет белый FFFFFF */

/* акцент #18A0FB; */
/* вторичный цвет фона #F5F5F5; */